#mainSec{
    display: grid;
    grid-template-columns: 4fr 1fr;
}


#cardDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#itemDiv{
    background-color: #ddd;
    box-shadow: 2px 5px 10px #333;
    border-radius: 20px;
}



@media (max-width: 990px) {

    #mainSec{
        grid-template-columns: 5fr;
    }

    #cardDiv{
        grid-template-columns: repeat(2, 1fr);
        order: 2;
    }

    #itemDiv{
        order: 1;
        margin: 50px 0px;
    }  
}

@media (max-width: 768px) {
    
    #mainSec{
        grid-template-columns: 5fr;
    }

    #cardDiv{
        grid-template-columns: repeat(2, 1fr);
        order: 2;
    }

    #itemDiv{
        order: 1;
    }
    
}

@media (max-width: 680px) {
    
    #mainSec{
        grid-template-columns: 5fr;
    }

    #cardDiv{
        grid-template-columns: repeat(1, 1fr);
        order: 2;
    }

    #itemDiv{
        order: 1;
    }
    
}